.home-intro-section {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 35px;
  margin-bottom: 70px;
}

.home-brief-intro {
  margin-top: 20%
}

.home-brief-intro h1 {
  font-weight: 100;
  font-size: xx-large;
  line-height: 50px;
}

.intro-name {
  background-color: #000;
  padding: 5px 10px;
  color: #ffffff;
  transition: ease-in-out 1000ms;
}

.home-brief-intro p {
  font-weight: 100;
  font-size: large;
  color: #5b5959
}
@media (max-width: 768px) {
  .home-intro-section {
    width: 80%;
    margin-top: 25%
  }

  .home-brief-intro h1 {
    line-height: 50px;
  }

  .home-brief-intro p {
    line-height: 27px;
  }
}