@import url('https://fonts.googleapis.com/css?family=Muli|Nunito|Inria+Serif|Solway|Cabin:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&family=Poppins:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/android-101');

html {
  scroll-behavior: smooth;
}

* {
box-sizing: border-box;
}

@font-face {
  font-family: 'Solway';
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css?family=Nunito|Solway&display=swap'); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Android 101";
  src: url("https://fonts.cdnfonts.com/css/android-101");
}

@font-face {
  font-family: "Noto Sans JP";
  font-family: 'Poppins', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&family=Poppins:wght@700&display=swap");
}

.android-text {
  font-family: 'Noto Sans JP';
}